<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="J.R Ibanez">
  <meta name="description" content="A simple Express app to keep track of project ideas.">
  <title> Ideas Lab </title>
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  {{> _msg}}
  {{> _navbar}}
  {{> _errors}}
  <div class="container">
    {{{ body }}}
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>