<section id="about-section">
  <div class="p-5 card bg-light text-dark">
    <div class="card-body">
      <h1 class="card-title">
        About App
      </h1>
           <p class="card-text">
        This is a simple app that allows users to write down ideas for future projects.  It uses express, mongodb, bootstrap, passport and other nodejs modules.  It has a very simple layout because it is ment to be easy to browse and because the user should immediately know how to use it.  For more projects like this, or if you wish to take a look at the code, you can use the link below to view this application's Github repo. 
      </p>
      <a href="https://github.com/jibanez74/ideas_lab" target="_blank" class="btn btn-link">
        Visit the Github Repo
      </a>
    </div>
  </div>
</section>